/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body * {
  box-sizing: border-box;
}

.header {
  padding: 0 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 3rem;
  position: fixed;
  font-family: 'Open Sans';
  cursor: pointer;
  color: #ccc;
  width: 10%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  z-index: 10;
}

.page-container {
  // padding-top: 3.5rem;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #060517;
  padding: 1rem;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background: #2a2d4d;
  // background:  nb-theme(background-basic-color-4);
  cursor: pointer;
  border-radius: 0.4rem;
}

::-webkit-scrollbar-track {
  background: #575e8c;
  border-radius: .4rem;
  // background: nb-theme(background-basic-color-2);
}
