<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'" [position]="'end'">
    <ng-container *ngTemplateOutlet="addLinkDrawer"></ng-container>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <div class="collections">
        <div class="collections__menu">
          <!-- <div class="menu-item">
            <mat-icon aria-hidden="false" aria-label="All Bookmarks">bookmarks</mat-icon>
            <span>All Bookmarks</span>
          </div> -->
          <div (click)="fetchPublicCollections()" class="menu-item" *ngIf="authService.isLoggedIn && !showPublicCollections">
            <mat-icon aria-hidden="false" aria-label="All Bookmarks">public</mat-icon>
            <span>Public Collections</span>
          </div>
          <div class="menu-item" *ngIf="authService.isLoggedIn && showPublicCollections" (click)="fetchMyCollections()">
            <mat-icon aria-hidden="false" aria-label="All Bookmarks">folder_shared</mat-icon>
            <span>My Collections</span>
          </div>
          <!-- <div class="menu-item">
            <mat-icon aria-hidden="false" aria-label="All Bookmark">bookmark</mat-icon>
            <span>All Bookmark</span>
          </div> -->
        </div>

        <div class="collections__list">
          <div class="heading">{{showPublicCollections ? 'Public Collections' : 'My Collections'}}</div>
          <div class="body">
            <div *ngIf="collections && collections.length">
            <div (click)="collectionClicked(collection)" *ngFor="let collection of collections" class="collection" [ngClass]="{'active': currentCollection.id === collection.id}">
              <span class="collection__name">{{collection?.name}}</span>
              <!-- <span class="collection__links-count">{{collection?.count}}</span> -->
            </div>
          </div>
          </div>
          <div class="divider"></div>

          <div *ngIf="!showPublicCollections || authService.can('create:public-collections')">
            <div (click)="showAddCollectionInput()" class="collection-new" *ngIf="!showAddNewCollectionInput">
              <mat-icon>add_box</mat-icon>
              <span>New Collection...</span>
            </div>
  
            <div *ngIf="showAddNewCollectionInput" class="collection-new">
              <input [autofocus]="true" placeholder="Collection Name..." #newCollectionInput (keyup.enter)="addNewCollection(newCollectionInput.value)">
              {{newCollectionInput.focus()}}
              <mat-icon (click)="addNewCollection(newCollectionInput.value)">done</mat-icon>
              <mat-icon (click)="showAddNewCollectionInput = false">close</mat-icon>
            </div>
  
          </div>
        </div>

      </div>


      <div class="links">
        <div class="links__header">

          <div class="links__header-collection">
            {{currentCollection?.name}}
          </div>

          <div class="links__header-searchbar">
            <mat-form-field class="form-field" fxFlexFill style="width: 100%" >
              <!-- <mat-label></mat-label> -->
              <input matInput placeholder="Search..." >
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>

          <!-- <div class="links__header-notifications">
            <mat-icon>notifications</mat-icon>
          </div> -->

          <div class="links__header-user" *ngIf="userInfo">
            <img [src]="userInfo?.picture" style="height: 45px; width: 45px; border-radius: 50%;" [title]="userInfo?.name">
          </div>
        </div>

        <div class="links__list">
          <div class=link *ngFor="let link of links">
            
            <div (click)="openLink(link)" style="margin-right: auto; flex: 1; display: flex;">
              <div class="link__logo">
                <img [src]="link?.logo" alt="">
              </div>
              <div class="link__details">
                <div class="name">{{link?.name[0].toUpperCase() + link?.name.slice(1)}}</div>
                <div class="description">{{link?.description}}</div>
              </div>
            </div>
            

            <div (click)="editLink(link); drawer.toggle()" class="link__delete">
              <mat-icon>edit</mat-icon>
            </div>

            <div (click)="deleteLink(link)" class="link__delete">
              <mat-icon>delete</mat-icon>
            </div>
            <div class="link__menu"></div>
          </div>
        </div>

        <div *ngIf="!showPublicCollections || authService.can('create:public-collections')">
          <div class="links__add">
            <mat-card (click)="drawer.toggle()">
              <mat-icon>add</mat-icon>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <!-- <mat-form-field>
      <mat-label>Sidenav mode</mat-label>
      <mat-select #mode value="side">
        <mat-option value="side">Side</mat-option>
        <mat-option value="over">Over</mat-option>
        <mat-option value="push">Push</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Has backdrop</mat-label>
      <mat-select #hasBackdrop>
        <mat-option>Unset</mat-option>
        <mat-option [value]="true">True</mat-option>
        <mat-option [value]="false">False</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button>Toggle drawer</button> -->
  </mat-drawer-content>
</mat-drawer-container>


<ng-template #addLinkDrawer>
  <div class="drawer">
    <div class="drawer__header">
      <span class="mat-title">{{editingLink ? 'Edit Link' : 'Add Link'}}</span>
      <mat-icon [inline]="true" (click)="drawer.toggle()">close</mat-icon>
    </div>

    <mat-divider></mat-divider>

    <div class="drawer__body">
      <mat-form-field class="form-field">
        <mat-label>Website</mat-label>
        <input [formControl]="linkURL" matInput placeholder="e.g. https://www.googlg.com">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Description</mat-label>
        <textarea [formControl]="linkDesc" matInput placeholder="Description" style="height: 100px;"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="drawer__footer">
    <button *ngIf="!editingLink" mat-raised-button color="primary" (click)="saveNewLink()">Save Link</button>
    <button *ngIf="editingLink" mat-raised-button color="primary" (click)="updateLink()">Update Link</button>

  </div>
</ng-template>
